<span class="alert alert-info help">

  <b>about site mode</b><br>

  - Local: Only admin can create new account.<br>
  - Site: Who has a user account at this site can create new account.<br>
  - Web: Everyone can create new account.

</span>