<span class="alert alert-info help">

  <b>about mode</b><br>

  - Local: Only you can access the information.<br>
  - Site: Who has a user account at this site can access the information.<br>
  - Web: Everyone can access the information.

</span>