<span class="alert alert-info help">
  <b>password requirements</b><br>
  - minimum 16 and maximum 64 characters<br>
  - at least 4 uppercase letters (A-Z)<br>
  - at least 4 lowercase letters (a-z)<br>
  - at least 4 numbers (0-9)<br>
  - at least 4 special characters (+-*/%^&|~!<=>"'`;:[]{}()?@#$,._\)
</span>