<span class="alert alert-info help">
  <b>picture requirements</b><br>
  - format: JPG, GIF, PNG<br>
  - byte: max 5MB<br>
  - size for pen_name, group, *_note, book: 256x256, 64x64<br>
  - size for *_memo, page: 640x1440
</span>