<span class="alert alert-info help">

  <b>about markdown</b><br>

  - <%= link_to "Markdown - Wikipedia (https://en.wikipedia.org/wiki/Markdown)", "https://en.wikipedia.org/wiki/Markdown" %><br>

  <br>

  - You can use markdown with mathjax.<br>
  - mathjax block code example:<br>
  <code>
  ```mathjax<br>
    \[\int_a^b f(x) dx=F(b)-F(a)\]<br>
  ```<br>
  </code>

  - mathjax line code example:<br>
  <code>
  `\(\int_a^b f(x) dx=F(b)-F(a)\)`
  </code>

  <hr>

  - <%= link_to "Markdown Offical Web Site (https://daringfireball.net/projects/markdown/)",
                "https://daringfireball.net/projects/markdown/" %><br>
</span>