<div class="center jumbotron">
  <h1>Welcome to <%= app_name %></h1>

  <p>
    This is a memo application.
  </p>

  <% if User.can_new?(current_user) %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>
  <% end %>
</div>


