<% provide(:title, 'Edit Note') %>
<% provide(:button_text, 'Update Note') %>

<h1 class="center">Edit Note</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    
    <%= render 'form' %>

  </div>

</div>
