<% provide(:title, 'Edit Note') %>
<% provide(:button_text, 'Update Note') %>

<h1 class="center">Edit Note</h1>

<div class="row align-items-center justify-content-center">
  <div class="col-6">
    <%= render 'form' %>
  </div>

</div>
