<% provide(:title, 'New Note') %>
<% provide(:button_text, 'Create Note') %>

<h1 class="center">New Note</h1>

<div class="row align-items-center justify-content-center">

  <div class="col-md-6">
    
    <%= render 'form' %>

  </div>

</div>