<% provide(:title, 'Edit User') %>
<% provide(:button_text, 'Update User') %>

<h1 class="center">Edit User</h1>

<div class="row align-items-center justify-content-center">
  <div class="col-6">
    <%= render 'form' %>
  </div>
</div>