<% provide(:title, @tag.name) %>
<div class="row">

  <aside class="col-md-4">

  </aside>

  <div class="col-md-8">

    <div class="list_header">
      <span class="count">
        Notes (<%= @notes.count %>)
      </count>
    </div>

    <ul class="notes_list">
      <%= render @notes %>
    </ul>
    <%= will_paginate @notes %>

  </div>

</div>