<% provide(:title, 'Edit Picture') %>
<% provide(:button_text, 'Update Picture') %>

<h1 class="center">Edit Picture</h1>

<div class="row align-items-center justify-content-center">
  <div class="col-md-6">
    
    <%= render 'form' %>

  </div>

</div>
