<% provide(:title, "Edit Site") %>
<% provide(:button_text, 'Update Site') %>

<h1 class="center">Update Site</h1>

<div class="row justify-content-center">
  <div class="col-md-6">

    <%= render 'form' %>

  </div>
</div>
