<% provide(:title, 'Edit Memo') %>
<% provide(:button_text, 'Update Memo') %>

<h1 class="center">Edit Memo</h1>

<div class="row">

  <div class="col-4">
    
    <% if @note.can_edit?(current_user) %>
      <div class="list_header">
        <span class="count">
          Pictures (<%= @note.pictures.count %>)
        </span>
      </div>

      <ul class="pictures_list">
        <%= render @pictures, mode: "memos" %>
      </ul>
    <% end %>

  </div>

  <div class="col-8">
    
    <%= render 'form' %>

  </div>

</div>
