<% provide(:title, 'Edit Memo') %>
<% provide(:button_text, 'Update Memo') %>

<h1 class="center">Edit Memo</h1>

<div class="row align-items-center justify-content-center">
  <div class="col-md-8">
    
    <%= render 'form' %>

  </div>

</div>
