<% provide(:title, 'New Memo') %>
<% provide(:button_text, 'Create Memo') %>

<h1>New Memo</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    
    <%= render 'form' %>

  </div>

</div>