<% provide(:title, 'New Memo') %>
<% provide(:button_text, 'Create Memo') %>

<h1 class="center">New Memo</h1>

<div class="row align-items-center justify-content-center">
  <div class="col-8">
    
    <%= render 'form' %>

  </div>

</div>